<!--베스트 카테고리-->
<!--이 폴더에 베스트, 세일 등등 쭉 만들어서 추가-->
<!--디자인 회의 후 추가 카테고리 생성 예정.-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>One can do it!</title>

    <style>
      #grid {
      display: grid;
      width: 100%;
      height: 100vh;
      grid-template-rows: 200px 1fr 200px;
      }

      .column {
        float: left;
        margin-left: 47px;
        margin-top: 100px;
        padding-left: 20px;
      }

      h4, p {
        padding-left: 10px;
      }

      h1 {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .page {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 10px;
        padding-top:70px;
      
      }

      #btn {
        padding: 7px 12px 7px 12px;
        text-decoration: none;
      }
      hr {
        width:300px;
      }

      </style>

  </head>
  <body>
    <div id="grid">
      <div id="header"></div>
      <div id="main">
        <h1>BEST</h1>
        <hr>
        <!--img_list-->
        <ul>
            <li type="none">
                <div class="row small-up-2 large-up-4">
                  <div class="column">
                    <img class="thumbnail" src="img/carrot_thumb_1.jpg" data-target="" alt="당근_사진2" style="width:230px;height:210px">
                    <h4>상품명 <input type="hidden"></h4>
                    <p>가격 <input type="hidden"></p>
                  </div>
                  <div class="column">
                    <img class="thumbnail" src="img/carrot_thumb_1.jpg" data-target="#" alt="당근_사진2" style="width:230px;height:210px">
                    <h4>상품명 <input type="hidden"></h4>
                    <p>가격 <input type="hidden"></p>
                  </div>
                  <div class="column">
                    <img class="thumbnail" src="img/carrot_thumb_1.jpg" data-target="#" alt="당근_사진2" style="width:230px;height:210px">
                    <h4>상품명 <input type="hidden"></h4>
                    <p>가격 <input type="hidden"></p>
                  </div>
                  <div class="column">
                    <img class="thumbnail" src="img/carrot_thumb_1.jpg" data-target="#" alt="당근_사진2" style="width:230px;height:210px">
                    <h4>상품명 <input type="hidden"></h4>
                    <p>가격 <input type="hidden"></p>
                  </div>
              </div>
            </li>
            <li type="none">
                <div class="row small-up-2 large-up-4">
                  <div class="column">
                    <img class="thumbnail" src="img/carrot_thumb_1.jpg" data-target="#" alt="당근_사진2" style="width:230px;height:210px">
                    <h4>상품명 <input type="hidden"></h4>
                    <p>가격 <input type="hidden"></p>
                  </div>
                  <div class="column">
                    <img class="thumbnail" src="img/carrot_thumb_1.jpg" data-target="#" alt="당근_사진2" style="width:230px;height:210px">
                    <h4>상품명 <input type="hidden"></h4>
                    <p>가격 <input type="hidden"></p>
                  </div>
                  <div class="column">
                    <img class="thumbnail" src="img/carrot_thumb_1.jpg" data-target="#" alt="당근_사진2" style="width:230px;height:210px">
                    <h4>상품명 <input type="hidden"></h4>
                    <p>가격 <input type="hidden"></p>
                  </div>
                  <div class="column">
                    <img class="thumbnail" src="img/carrot_thumb_1.jpg" data-target="#" alt="당근_사진2" style="width:230px;height:210px">
                    <h4>상품명 <input type="hidden"></h4>
                    <p>가격 <input type="hidden"></p>
                  </div>
                </div>
             </li>
             <li type="none">
                <div class="row small-up-2 large-up-4">
                  <div class="column">
                    <img class="thumbnail" src="img/carrot_thumb_1.jpg" data-target="#" alt="당근_사진2" style="width:230px;height:210px">
                    <h4>상품명 <input type="hidden"></h4>
                    <p>가격 <input type="hidden"></p>
                  </div>
                  <div class="column">
                    <img class="thumbnail" src="img/carrot_thumb_1.jpg" data-target="#" alt="당근_사진2" style="width:230px;height:210px">
                    <h4>상품명 <input type="hidden"></h4>
                    <p>가격 <input type="hidden"></p>
                  </div>
                  <div class="column">
                    <img class="thumbnail" src="img/carrot_thumb_1.jpg" data-target="#" alt="당근_사진2" style="width:230px;height:210px">
                    <h4>상품명 <input type="hidden"></h4>
                    <p>가격 <input type="hidden"></p>
                  </div>
                  <div class="column">
                    <img class="thumbnail" src="img/carrot_thumb_1.jpg" data-target="#" alt="당근_사진2" style="width:230px;height:210px">
                    <h4>상품명 <input type="hidden"></h4>
                    <p>가격 <input type="hidden"></p>
                  </div>
                </div>
                <br>
              </li>

        </ul>
      </div>

      <div id="footer">
        <div class="page">
          <button id="btn" onclick="location.href='#'">1</button> 
          <button id="btn" onclick="location.href='#'">2</button> 
          <button id="btn" onclick="location.href='#'">3</button>
        </div>
      </div>
    </div>

  </body>
</html>

