<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>물물교환 리스트 페이지</title>
    <link rel="stylesheet" href="barter_listpage.css">
    
</head>
<body>

    <div class="btr_header">
        <h2>물물교환 상품 보기</h2>
         

    </div>
    <div class="container"></div>
    

    <div class="content">
        
        
        <div class="content1">
            <a href="#" class="card_contents">

                <div class="image"> 
                    <img src="images/barter_image01.jpg" alt="감자">
                </div>
                    
                <div class="text">
                    <h2>감자 1kg -> 계란으로 바꾸실 분 구합니다.</h2>
                    <div class="box" style="background: #BDBDBD;">
                        <img class="profile" src="images/profile01.jpg">
                    </div>
                    <span>고영훈</span>  
                </div>
            </a> 
        </div>
        
        <div class="content2">
            <a href="#" class="card_contents">
                <div class="image">
                    <img src="images/barter_image02.jpg" alt="브로콜리">
                </div>
                <div class="text">
                    <h2>브로콜리 한 송이 남아서 기부합니다.</h2>
                     <div class="box" style="background: #BDBDBD;">
                        <img class="profile" src="images/profile02.jpg">
                    </div>

                      <span>고영훈</span>  
                </div>
            </a> 
        </div>
        <div class="content3">
            <a href="#" class="card_contents">
                <div class="image">
                    <img src="images/barter_image03.jpg" alt="아몬드">
                </div>
                <div class="text">
                    <h2>견과류 아몬드 1kg, 호두나 캐슈넛으로 바꾸실 분 있나요?</h2>
                     <div class="box" style="background: #BDBDBD;">
                        <img class="profile" src="images/profile03.jpg">
                    </div>

                    <span>고영훈</span>   
                </div>
            </a> 
        </div>
        <div class="content4">
            <a href="#" class="card_contents">
                <div class="image">
                    <img src="images/barter_image04.jpg" alt="방울토마토">
                </div>
                <div class="text">
                    <h2>방울토마토 필요하신 분 가져가세요.</h2>
                     <div class="box" style="background: #BDBDBD;">
                        <img class="profile" src="images/profile04.jpg">
                    </div>

                    <span>고영훈</span>   
                </div>
            </a> 
        </div>
        <div class="content5">
            <a href="#" class="card_contents">
                <div class="image">
                    <img src="images/barter_image05.jpg" alt="양배추">
                </div>
                <div class="text">
                    <h2>양배추 필요하신 분?</h2>
                     <div class="box" style="background: #BDBDBD;">
                        <img class="profile" src="images/profile05.jpg">
                    </div>


                    <span>고영훈</span>   
                </div>
            </a> 
        </div>
        <div class="content6">
            <a href="#" class="card_contents">
                <div class="image">
                    <img src="images/barter_image06.jpg" alt="마늘">
                </div>
                <div class="text">
                    <h2>양파 있으신 분? 마늘이랑 교환해요!</h2>
                     <div class="box" style="background: #BDBDBD;">
                        <img class="profile" src="images/profile06.jpg">
                    </div>


                    <span>고영훈</span>   
                </div>
            </a> 
        </div>
    </div> 
</body>
</html>