<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피 리스트 페이지</title>
    <link rel="stylesheet" href="recipe_listpage.css">
</head>
<body>
    
    <div class="write"></div>

    <div class="container"></div>

 
    <div class="rcp_header">
        <form>
            <div class="btn">
                <button type="submit" class="btn btn-default" href="../recipe_writepage.html">작성</button>
            </div>      
        </form>
        <h2>레시피보기</h2>
    </div>
    
    <div class="band">
    <div class="item-1">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(image/image01.jpg);"></div>
                <article>
                    <h1>고등어 구이</h1>
                    <p>Crafted by - Arun Magars</p>
                    <span>예상 비용: 25000원</span>   
                </article> 
            </a>    
    </div>
    <div class="item-2">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(image/image02.jpg);"></div>
                <article>
                    <h1> 닭가슴살 스테이크</h1>
                    <p>Crafted by - Arun Magar</p>
                    <span>예상 비용: 40000원</span>   
                </article>
            </a> 
    </div>
    <div class="item-3">
            <a href="#" class="card">
            <div class="thumb" style="background-image: url(image/image03.jpg);"></div>
            <article>
                <h1> 티라미수 케이크</h1>
                <p>Crafted by - Arun Magar</p>
                <span> 예상 비용: 5000원</span>   
            </article>
        </a> 
    </div>
    <div class="item-4">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(image/image04.jpg);"></div>
                <article>
                    <h1> 전기구이 치킨</h1>
                    <p>Crafted by - Arun Magar</p>
                    <span>예상 비용: 10000원</span>   
                </article>
            </a>  
    </div>
    <div class="item-5">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(image/image05.jpg);"></div>
                <article>
                    <h1>베이킹</h1>
                    <p>Crafted by - Arun Magar</p>
                    <span>예상 비용: 10000원</span>   
                </article>
            </a>  
    </div>
    <div class="item-6">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(image/image06.jpg);"></div>
                <article>
                    <h1> 계란 활용 음식 TOP5</h1>
                    <p>Crafted by - Arun Magar</p>
                    <span>예상 비용: 10000원</span>   
                </article>
            </a>  
    </div>
    <div class="item-7">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(image/image07.jpg);"></div>
                <article>
                    <h1>알리오 올리오 파스타</h1>
                    <p>Crafted by - Arun Magar</p>
                    <span>예상 비용: 10000원</span>   
                </article>
            </a>  
    </div>
    <div class="item-8">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(image/image08.jpg);"></div>
                <article>
                    <h1> 리코타치즈 샐러드</h1>
                    <p>Crafted by - Arun Magar</p>
                    <span>예상 비용: 10000원</span>   
                </article>
            </a>  
    </div>
    <div class="item-9">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(image/image09.jpg);"></div>
                <article>
                    <h1> 츄러스</h1>
                    <p>Crafted by - Arun Magar</p>
                    <span>예상 비용: 10000원</span>   
                </article>
            </a>  
    </div>
    <div class="item-10">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(image/image10.jpg);"></div>
                <article>
                    <h1> 스트로베리 치즈케이크</h1>
                    <p>Crafted by - Arun Magar</p>
                    <span>예상 비용: 10000원</span>   
                </article>
            </a>  
    </div>
    <div class="item-11">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(image/image11.jpg);"></div>
                <article>
                    <h1> 크림치즈 마늘빵</h1>
                    <p>Crafted by - Arun Magar</p>
                    <span>예상 비용: 10000원</span>   
                </article>
            </a>  
    </div>
    <div class="item-12">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(image/image12.jpg);"></div>
                <article>
                    <h1>팬케이크</h1>
                    <p>Crafted by - Arun Magar</p>
                    <span>예상 비용: 10000원</span>   
                </article>
            </a>  
    </div>
</div>
<div class="rcp_buttom"></div>
    </body>
    </html>
    <footer>
        <h1 class="name">One can do it!</h1>
        <nav>
            <ul class="lists">
                <li><a href="#">이용약관</a></li>
                <li><a href="#">이용안내</a></li>
                <li><a href="#">입점문의</a></li>
            </ul>
            <hr class="line" style="border: soild 2px black;">
            <p class="email">E-mail</p>
        </nav>
    </footer>   
</body>
</html>