
  




.rcp_header {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 6.5%;
    margin-top: 20%;
    
    
}

.btn {
    text-align: end;
    margin-right: 3.4%;
    
    
}

.container {
    width:70%;   
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px,auto);
    grid-gap: 20px;
    

    
}


.card {
    background: #fff;
    text-decoration: none;
    color: #444;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between; 
    position: relative; 
    top: 0px;
    transition: 0.2s;

}
.card:hover {
    top:-4px;
}

.thumb {
    padding-bottom: 70%;
    background-size: cover;
    background-position-x: center center;
    border-radius: 5px;

}
article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:5px;
}
article p {
    flex:1;
}
article span {
    color: gray;
    font-size: small;
}

@media screen and (min-width:500px) {
    .band{
        grid-template-columns: 1fr 1fr ;
    }
    .items-1{
        grid-column: 1/4;
    }
}
@media screen and (min-width:850px){
    .band{
        grid-template-columns: repeat(4, 1fr);
    }
}
.rcp_buttom {
    margin-top: 20%;
}

#footer {
    background: white;
}

.name {
    font-family: Montserrat;
    color: #000000;
    font-size: 1.5rem;

    font-style: normal;
    font-weight: normal;
    line-height: 125%;

    text-align: center;
    letter-spacing: 0.3em;

    color: #000000;

    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.lists {
    display: flex;
    width: 550px;
    height: 95px;
}

.lists li {
    margin-right: 20px;

    font-family: Montserrat;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 22px;

    display: flex;
    letter-spacing: -0.015em;

    transform: translate(-50%, -50%);

    margin-left: auto;
    margin-top: 13%;
    margin-right: 19%;
}

.lists a {
    color: black;
    text-decoration: none;
}

.email {
    margin-left: 1%;
    margin-top: 0%;
}

.line {
    margin-top: -15px;
    margin-bottom: 13px;
}